@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

//   font-family: "Signika Negative", sans-serif;

.table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  font-family: "Signika Negative", sans-serif;
  font-size: 20px;
}

tr {
  border-bottom: 1px solid rgba(54, 129, 60, 0.527);
}

.price {
  padding-inline: 30px;
  border-radius: 5px;

  color: rgb(51, 51, 51);
  background-color: rgba(172, 224, 162, 0.507);
}
